<div class="container mt-3">
    <h3>
        Add New Employee
    </h3>
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Firstname</label>
                <input type="text" class="form-control" placeholder="Firstnames">
            </div>
            <div class="form-group col-md-6">
                <label >Lastname</label>
                <input type="text" class="form-control" placeholder="Lastname">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Email</label>
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label >Birthdate</label>
                <ngb-datepicker #d></ngb-datepicker>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Basic Salary</label>
                <input type="number" class="form-control" placeholder="Basic Salary">
            </div>
            <div class="form-group col-md-6">
                <label >Status</label>
                <input type="text" class="form-control" placeholder="Status">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label >Group</label>
                <select class="form-control">
                    <option selected>Choose wisely</option>
                    <option value="1">IT-Developer</option>
                    <option value="2">IT-PMO</option>
                    <option value="3">UI/UX Designer</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label >Description</label>
                <input type="text" class="form-control" placeholder="Description">
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-25">Save</button>
    </form>
</div>