<div class="container employee-list">
    <div class="d-flex justify-content-between mb-4">
        <div class="searching">
            <form>
                <div class="form-row">
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="search by name">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="search by email">
                    </div>
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-primary" (click)="navigateToAddEmployee()">Add</button>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Basic Salary</th>
            <th scope="col">Status</th>
            <th scope="col">Group</th>
            <th scope="col">Description</th>
            <th scope="col" width="10%">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees">
            <td>
                {{ employee.firstName }}
            </td>
            <td>
                {{ employee.lastName }}
            </td>
            <td>
                {{ employee.email }}
            </td>
            <td>
                {{ employee.birthDate }}
            </td>
            <td>
                {{ employee.basicSalary }}
            </td>
            <td>
                {{ employee.status }}
            </td>
            <td>
                {{ employee.group }}
            </td>
            <td>
                {{ employee.description }}
            </td>
            <td>
                <button class="btn btn-sm btn-warning icon-action mr-2"><img src="../../../../assets/images/pencil.png" alt="edit"></button>
                <button class="btn btn-sm btn-danger icon-action"><img src="../../../../assets/images/recycle-bin.png" alt="delete"></button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-end p-2">
        <ngb-pagination
            [collectionSize]="collectionSize" 
            [(page)]="page">
        </ngb-pagination>
    
    </div>
</div>