<div class="container login-contain">
    <div class="login-form">
        <h3 class="title">
            Sign in to your account
        </h3>
        <div class="login-fill">
            <form [formGroup]= "loginForm" (ngSubmit)="submitLogin()" class="login">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" formControlName="username" class="form-control" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" class="form-control" placeholder="Enter Password">
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-primary btn-login" (click)="submitLogin()">Login</button> 
    </div>
</div>