.login-contain{
    height: 100%;
}

.login-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login{
    margin-top: 24px;
}

.btn-login{
    margin-top: 20px;
    border-radius: 8px;
    width: 100%;
}